In [9]:
import pandas as pd

In [10]:
pd.__version__

'1.4.3'

In [14]:
df = pd.read_parquet("yellow_tripdata_2021-01.parquet")

In [19]:
pd.to_datetime(df.tpep_pickup_datetime)

0         2021-01-01 00:30:10
1         2021-01-01 00:51:20
2         2021-01-01 00:43:30
3         2021-01-01 00:15:48
4         2021-01-01 00:31:49
                  ...
1369764   2021-01-31 23:03:00
1369765   2021-01-31 23:29:00
1369766   2021-01-31 23:25:00
1369767   2021-01-31 23:01:06
1369768   2021-01-31 23:08:29
Name: tpep_pickup_datetime, Length: 1369769, dtype: datetime64[ns]

In [17]:
print(pd.io.sql.get_schema(df, name='yellow_tax_data'))

CREATE TABLE "yellow_tax_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "RatecodeID" REAL,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL,
  "airport_fee" REAL
)